mat-card {
    margin: 14px;
    width: 65%;
}
mat-form-field {
    margin: 8px;
    width: 47%;
}
mat-form-field.mat-mdc-form-field.ng-tns-c3899553609-4.mat-mdc-form-field-type-mat-input.mat-form-field-appearance-fill.mat-primary.ng-untouched.ng-pristine.ng-valid.ng-star-inserted{
    width: 96.5%;
}
.nota {
    color: floralwhite;
    margin-bottom: 16px;
}

h4 {
    padding-left: 11px;
}